nav {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 2rem 4rem;
	@include smallDesktopAndBelow {
		padding: 20px 40px;
	}
}

nav h1,
nav a {
	font-size: $p;
	@include smallDesktopAndBelow {
		font-size: $pMobile;
	}
}

nav a {
	color: $grey300;
	text-decoration: none;
}

nav a + a {
	margin-left: 1rem;
}

